Import/OCM.Import.Common/Service References/NetworkServices.ThirdPartyServices.Coulomb/coulombservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/coulombservices/" name="coulombservices" targetNamespace="http://www.example.org/coulombservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/coulombservices/">
      <xsd:element name="getAllUSStations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:stationSearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllUSStationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllEUStations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:stationSearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllEUStationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllAUStations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:stationSearchRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllAUStationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="logdata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reservable" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reserveTime">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="startTime" type="xsd:dateTime" />
                <xsd:element minOccurs="1" maxOccurs="1" name="endTime" type="xsd:dateTime" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Geo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="lat" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="long" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Port" type="tns:portData" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pricing">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="startTime" type="xsd:dateTime" />
                <xsd:element minOccurs="0" maxOccurs="1" name="endTime" type="xsd:dateTime" />
                <xsd:element minOccurs="0" maxOccurs="1" name="minCharge" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="maxCharge" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="unitCharge" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="sessionTime" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Num_port" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mainPhone" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="stationSearchRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" default="5" name="Proximity" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" default="M" name="proximityUnit" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reservable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Geo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="lat" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="long" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pricing" type="tns:pricingOptions" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="portData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connector" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Voltage" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Current" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Power" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="statusSearchdata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" default="5" name="Proximity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" default="M" name="proximityUnit" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reservable" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Geo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="lat" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="long" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pricing" type="tns:pricingOptions" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="reservableStationSearchData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" default="5" name="Proximity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" default="M" name="proximityUnit" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Geo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="lat" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="long" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Level" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pricing" type="tns:pricingOptions" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="pricingOptions">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="startTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="endTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="minCharge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="maxCharge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="unitCharge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="sessionTime" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUSStationById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUSStationByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUSStationStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:statusSearchdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUSStationStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:statusSearchdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:statusSearchdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="oStatusdata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeStamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Port" type="tns:portData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUSStationStatusById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUSStationStatusByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationStatusById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEUStationStatusByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationStatusById">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAUStationStatusByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="stationStatusData" type="tns:oStatusdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllReservableStation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:reservableStationSearchData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllReservableStationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChargePassCard">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userName" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChargePassCardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="accountHandle" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cardData" type="tns:ocarddata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ocarddata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="serialNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="nickName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="setReservation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="accountHandle" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serialNumber" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="deviceId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="duration" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setReservationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="computedPrice" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reservationHandle" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="computeReservationPrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="accountHandle" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serialNumber" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="deviceId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="duration" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="computeReservationPriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="accountHandle" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="serialNumber" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="deviceId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="1" maxOccurs="1" name="duration" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="computedPrice" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelReservation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="accountHandle" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="reservationHandle" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelReservationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="computedPrice" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="penalty" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="reservationHandle" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRegions" />
      <xsd:element name="getRegionsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionData" type="tns:oregiondata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="oregiondata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="regionName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="regionHandle" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Load" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AllowedLoad" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Num_Stations" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getStations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="regionHandle" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="stationData" type="tns:logdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shedLoad">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="regionHandle" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="AllowedLoad" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="timeIntervalmin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="shedLoadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Success" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="restoreLoad">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="regionHandle" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="restoreLoadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Success" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSheddedStatusofRegion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="regionHandle" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSheddedStatusofRegionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="AllowedLoad" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSheddedStatusofStation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="StationID" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSheddedStatusofStationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sheddedState" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="sessionSearchdata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Proximity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="proximityUnit" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FromTimeStamp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ToTimeStamp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartRecord" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Geo">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="lat" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="1" name="long" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="Version" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sessionSearchResultdata">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SessionID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Energy" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EndTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordNumber" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RFIDSerialNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DriverAccountNumber" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChargingSessionData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchQuery" type="tns:sessionSearchdata" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChargingSessionDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChargingSessionsData" type="tns:sessionSearchResultdata" />
            <xsd:element minOccurs="0" maxOccurs="1" name="MoreFlag" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="oChargingSessionsData">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StationTime" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EnergyConsumed" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PeakPower" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RollingPowerAvg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="get15minChargingSessionData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="SessionID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="EnergyConsumedInterval" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get15minChargingSessionDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="responseCode" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="responseText" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="SessionID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="StationID" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="fifteenminData" type="tns:oChargingSessionsData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllUSStationsRequest">
    <wsdl:part name="parameters" element="tns:getAllUSStations" />
  </wsdl:message>
  <wsdl:message name="getAllUSStationsResponse">
    <wsdl:part name="parameters" element="tns:getAllUSStationsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEUStationsRequest">
    <wsdl:part name="parameters" element="tns:getAllEUStations" />
  </wsdl:message>
  <wsdl:message name="getAllEUStationsResponse">
    <wsdl:part name="parameters" element="tns:getAllEUStationsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAUStationsRequest">
    <wsdl:part name="parameters" element="tns:getAllAUStations" />
  </wsdl:message>
  <wsdl:message name="getAllAUStationsResponse">
    <wsdl:part name="parameters" element="tns:getAllAUStationsResponse" />
  </wsdl:message>
  <wsdl:message name="getUSStationByIdRequest">
    <wsdl:part name="parameters" element="tns:getUSStationById" />
  </wsdl:message>
  <wsdl:message name="getUSStationByIdResponse">
    <wsdl:part name="parameters" element="tns:getUSStationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getEUStationByIdRequest">
    <wsdl:part name="parameters" element="tns:getEUStationById" />
  </wsdl:message>
  <wsdl:message name="getEUStationByIdResponse">
    <wsdl:part name="parameters" element="tns:getEUStationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAUStationByIdRequest">
    <wsdl:part name="parameters" element="tns:getAUStationById" />
  </wsdl:message>
  <wsdl:message name="getAUStationByIdResponse">
    <wsdl:part name="parameters" element="tns:getAUStationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getUSStationStatusRequest">
    <wsdl:part name="parameters" element="tns:getUSStationStatus" />
  </wsdl:message>
  <wsdl:message name="getUSStationStatusResponse">
    <wsdl:part name="parameters" element="tns:getUSStationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getEUStationStatusRequest">
    <wsdl:part name="parameters" element="tns:getEUStationStatus" />
  </wsdl:message>
  <wsdl:message name="getEUStationStatusResponse">
    <wsdl:part name="parameters" element="tns:getEUStationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getAUStationStatusRequest">
    <wsdl:part name="parameters" element="tns:getAUStationStatus" />
  </wsdl:message>
  <wsdl:message name="getAUStationStatusResponse">
    <wsdl:part name="parameters" element="tns:getAUStationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getUSStationStatusByIdRequest">
    <wsdl:part name="parameters" element="tns:getUSStationStatusById" />
  </wsdl:message>
  <wsdl:message name="getUSStationStatusByIdResponse">
    <wsdl:part name="parameters" element="tns:getUSStationStatusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getEUStationStatusByIdRequest">
    <wsdl:part name="parameters" element="tns:getEUStationStatusById" />
  </wsdl:message>
  <wsdl:message name="getEUStationStatusByIdResponse">
    <wsdl:part name="parameters" element="tns:getEUStationStatusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAUStationStatusByIdRequest">
    <wsdl:part name="parameters" element="tns:getAUStationStatusById" />
  </wsdl:message>
  <wsdl:message name="getAUStationStatusByIdResponse">
    <wsdl:part name="parameters" element="tns:getAUStationStatusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReservableStationRequest">
    <wsdl:part name="parameters" element="tns:getAllReservableStation" />
  </wsdl:message>
  <wsdl:message name="getAllReservableStationResponse">
    <wsdl:part name="parameters" element="tns:getAllReservableStationResponse" />
  </wsdl:message>
  <wsdl:message name="getAllChargePassCardRequest">
    <wsdl:part name="parameters" element="tns:getAllChargePassCard" />
  </wsdl:message>
  <wsdl:message name="getAllChargePassCardResponse">
    <wsdl:part name="parameters" element="tns:getAllChargePassCardResponse" />
  </wsdl:message>
  <wsdl:message name="setReservationRequest">
    <wsdl:part name="parameters" element="tns:setReservation" />
  </wsdl:message>
  <wsdl:message name="setReservationResponse">
    <wsdl:part name="parameters" element="tns:setReservationResponse" />
  </wsdl:message>
  <wsdl:message name="computeReservationPriceRequest">
    <wsdl:part name="parameters" element="tns:computeReservationPrice" />
  </wsdl:message>
  <wsdl:message name="computeReservationPriceResponse">
    <wsdl:part name="parameters" element="tns:computeReservationPriceResponse" />
  </wsdl:message>
  <wsdl:message name="cancelReservationRequest">
    <wsdl:part name="parameters" element="tns:cancelReservation" />
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="parameters" element="tns:cancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="getRegionsRequest">
    <wsdl:part name="parameters" element="tns:getRegions" />
  </wsdl:message>
  <wsdl:message name="getRegionsResponse">
    <wsdl:part name="parameters" element="tns:getRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="getStationsRequest">
    <wsdl:part name="parameters" element="tns:getStations" />
  </wsdl:message>
  <wsdl:message name="getStationsResponse">
    <wsdl:part name="parameters" element="tns:getStationsResponse" />
  </wsdl:message>
  <wsdl:message name="shedLoadRequest">
    <wsdl:part name="parameters" element="tns:shedLoad" />
  </wsdl:message>
  <wsdl:message name="shedLoadResponse">
    <wsdl:part name="parameters" element="tns:shedLoadResponse" />
  </wsdl:message>
  <wsdl:message name="restoreLoadRequest">
    <wsdl:part name="parameters" element="tns:restoreLoad" />
  </wsdl:message>
  <wsdl:message name="restoreLoadResponse">
    <wsdl:part name="parameters" element="tns:restoreLoadResponse" />
  </wsdl:message>
  <wsdl:message name="getSheddedStatusofRegionRequest">
    <wsdl:part name="parameters" element="tns:getSheddedStatusofRegion" />
  </wsdl:message>
  <wsdl:message name="getSheddedStatusofRegionResponse">
    <wsdl:part name="parameters" element="tns:getSheddedStatusofRegionResponse" />
  </wsdl:message>
  <wsdl:message name="getSheddedStatusofStationRequest">
    <wsdl:part name="parameters" element="tns:getSheddedStatusofStation" />
  </wsdl:message>
  <wsdl:message name="getSheddedStatusofStationResponse">
    <wsdl:part name="parameters" element="tns:getSheddedStatusofStationResponse" />
  </wsdl:message>
  <wsdl:message name="getChargingSessionDataRequest">
    <wsdl:part name="parameters" element="tns:getChargingSessionData" />
  </wsdl:message>
  <wsdl:message name="getChargingSessionDataResponse">
    <wsdl:part name="parameters" element="tns:getChargingSessionDataResponse" />
  </wsdl:message>
  <wsdl:message name="get15minChargingSessionDataRequest">
    <wsdl:part name="parameters" element="tns:get15minChargingSessionData" />
  </wsdl:message>
  <wsdl:message name="get15minChargingSessionDataResponse">
    <wsdl:part name="parameters" element="tns:get15minChargingSessionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="coulombservices">
    <wsdl:operation name="getAllUSStations">
      <wsdl:input message="tns:getAllUSStationsRequest" />
      <wsdl:output message="tns:getAllUSStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllEUStations">
      <wsdl:input message="tns:getAllEUStationsRequest" />
      <wsdl:output message="tns:getAllEUStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllAUStations">
      <wsdl:input message="tns:getAllAUStationsRequest" />
      <wsdl:output message="tns:getAllAUStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUSStationById">
      <wsdl:input message="tns:getUSStationByIdRequest" />
      <wsdl:output message="tns:getUSStationByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEUStationById">
      <wsdl:input message="tns:getEUStationByIdRequest" />
      <wsdl:output message="tns:getEUStationByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAUStationById">
      <wsdl:input message="tns:getAUStationByIdRequest" />
      <wsdl:output message="tns:getAUStationByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUSStationStatus">
      <wsdl:input message="tns:getUSStationStatusRequest" />
      <wsdl:output message="tns:getUSStationStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEUStationStatus">
      <wsdl:input message="tns:getEUStationStatusRequest" />
      <wsdl:output message="tns:getEUStationStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAUStationStatus">
      <wsdl:input message="tns:getAUStationStatusRequest" />
      <wsdl:output message="tns:getAUStationStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUSStationStatusById">
      <wsdl:input message="tns:getUSStationStatusByIdRequest" />
      <wsdl:output message="tns:getUSStationStatusByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEUStationStatusById">
      <wsdl:input message="tns:getEUStationStatusByIdRequest" />
      <wsdl:output message="tns:getEUStationStatusByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAUStationStatusById">
      <wsdl:input message="tns:getAUStationStatusByIdRequest" />
      <wsdl:output message="tns:getAUStationStatusByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllReservableStation">
      <wsdl:input message="tns:getAllReservableStationRequest" />
      <wsdl:output message="tns:getAllReservableStationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllChargePassCard">
      <wsdl:input message="tns:getAllChargePassCardRequest" />
      <wsdl:output message="tns:getAllChargePassCardResponse" />
    </wsdl:operation>
    <wsdl:operation name="setReservation">
      <wsdl:input message="tns:setReservationRequest" />
      <wsdl:output message="tns:setReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="computeReservationPrice">
      <wsdl:input message="tns:computeReservationPriceRequest" />
      <wsdl:output message="tns:computeReservationPriceResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input message="tns:cancelReservationRequest" />
      <wsdl:output message="tns:cancelReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <wsdl:input message="tns:getRegionsRequest" />
      <wsdl:output message="tns:getRegionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <wsdl:input message="tns:getStationsRequest" />
      <wsdl:output message="tns:getStationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="shedLoad">
      <wsdl:input message="tns:shedLoadRequest" />
      <wsdl:output message="tns:shedLoadResponse" />
    </wsdl:operation>
    <wsdl:operation name="restoreLoad">
      <wsdl:input message="tns:restoreLoadRequest" />
      <wsdl:output message="tns:restoreLoadResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSheddedStatusofRegion">
      <wsdl:input message="tns:getSheddedStatusofRegionRequest" />
      <wsdl:output message="tns:getSheddedStatusofRegionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSheddedStatusofStation">
      <wsdl:input message="tns:getSheddedStatusofStationRequest" />
      <wsdl:output message="tns:getSheddedStatusofStationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChargingSessionData">
      <wsdl:input message="tns:getChargingSessionDataRequest" />
      <wsdl:output message="tns:getChargingSessionDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="get15minChargingSessionData">
      <wsdl:input message="tns:get15minChargingSessionDataRequest" />
      <wsdl:output message="tns:get15minChargingSessionDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="coulombservicesSOAP" type="tns:coulombservices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllUSStations">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAllUSStations" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEUStations">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAllEUStations" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAUStations">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAllAUStations" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSStationById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getUSStationById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEUStationById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getEUStationById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAUStationById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAUStationById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSStationStatus">
      <soap:operation soapAction="http://www.example.org/coulombservices/getUSStationStatus" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEUStationStatus">
      <soap:operation soapAction="http://www.example.org/coulombservices/getEUStationStatus" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAUStationStatus">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAUStationStatus" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSStationStatusById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getUSStationStatusById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEUStationStatusById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getEUStationStatusById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAUStationStatusById">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAUStationStatusById" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReservableStation">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAllReservableStation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllChargePassCard">
      <soap:operation soapAction="http://www.example.org/coulombservices/getAllChargePassCard" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setReservation">
      <soap:operation soapAction="http://www.example.org/coulombservices/setReservation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="computeReservationPrice">
      <soap:operation soapAction="http://www.example.org/coulombservices/computeReservationPrice" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="http://www.example.org/coulombservices/cancelReservation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegions">
      <soap:operation soapAction="http://www.example.org/coulombservices/getRegions" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap:operation soapAction="http://www.example.org/coulombservices/getStations" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shedLoad">
      <soap:operation soapAction="http://www.example.org/coulombservices/shedLoad" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restoreLoad">
      <soap:operation soapAction="http://www.example.org/coulombservices/restoreLoad" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSheddedStatusofRegion">
      <soap:operation soapAction="http://www.example.org/coulombservices/getSheddedStatusofRegion" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSheddedStatusofStation">
      <soap:operation soapAction="http://www.example.org/coulombservices/getSheddedStatusofStation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChargingSessionData">
      <soap:operation soapAction="http://www.example.org/coulombservices/getChargingSessionData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get15minChargingSessionData">
      <soap:operation soapAction="http://www.example.org/coulombservices/get15minChargingSessionData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="coulombservices">
    <wsdl:port name="coulombservicesSOAP" binding="tns:coulombservicesSOAP">
      <soap:address location="https://webservice.chargepointportal.net:8081/index.php/coulombwebservices/services/1.1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>